body {
	margin: 0 auto;
}


header {
	background-color: black;
	color: white;
	font-family: Impact, sans-serif;
	font-size: 80px;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	text-shadow: 3px 2px red;
	border: 2px	solid red;
}

h1 {
    background-color: rgba(255, 0, 0, 0.4);
    display: inline-block;
    text-align: center;
    font-size: 30px;
   /*padding: 10px;*/
    float: center;
    width: 100%;
}

h1:hover {
	background-color: rgba(200, 0, 0, 0.8);
}

#images {
	height: 100%;
	width: 100%;
	float: middle;
}

img {
	width: 100%;
	float: middle;

}

.video-title {
	height: 100%
	width: 100%;
}