header {
	background-color: lightblue;
	color: black;
	font-family: helvetica;
	font-size: 80px;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 3px 2px red;
}

h2 {
    width: 100px;
    height: 100px;
    background: red;
    -webkit-transition: width 2s;
    transition: width 2s;
}

h2: hover {
	
}