header {
	background-color: black;
	color: white;
	font-family: Impact, sans-serif;
	font-size: 80px;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 3px 2px red;
}

h1 {
    background: red;
    display: inline-block;
    text-align: center;
}

h1:hover {
	background-color: blue;
}